.retreat-left{
	margin-left: 45px;	
	margin-right: 45px;
}


/******* Create Variation *******/
.txtarea-variation{
	resize: vertical;
}

.btn-add-variation{
	border-radius: 25px;
	margin-left: 10px;
}

.label-variation{
	display: inline;
}
/******* END - Create Variation *******/