.form-buttons{
	position: relative;
	margin-bottom: 15px;
}

h5{
	display: inline;
    font-size: 13px !important;
}

/******* Create Variation *******/
.txtarea-variation{
	resize: vertical;
}

.variation-header{
	padding-bottom: 9.5px;
    margin: 42px 0 5px;
    border-bottom: 1px solid transparent;
}

.btn-add-variation{
	border-radius: 25px !important;
	margin-left: 10px;
}

.label-variation{
	display: inline;
}

.form-variations{
	display: flex;
}

.variations-title{
	padding-left: 0px;
    padding-right: 0px;
    flex: 0 1 100%;
}

.disable-variations-btn-remove{
	pointer-events: none;
	color: #DCE4EC;
}

.variations-btn-remove{
	font-size: 20px;
	flex: 0 1 30px;
	color: #777777;
}

.variation-icon-remove{
	margin-top: 8px;
	margin-left: 5px;
	transition: all 0.5s;
}

.variation-icon-remove:hover{
	cursor:pointer;
	color: #000000;
}

/******* END - Create Variation *******/

.bootstrap-switch{
	border-radius: 10px !important;
}

.bootstrap-switch-handle-on.bootstrap-switch-primary{
	background-color: #18bc9c !important;
}
