@media (min-width: 768px) {
	form {
		margin: 0% 5% 0% 5%;
	}
}

h5{
	display: inline;
    font-size: 13px !important;
}

/******* Create Variation *******/
.txtarea-variation{
	resize: vertical;
}

.btn-add-variation{
	border-radius: 25px;
	margin-left: 10px;
}

.label-variation{
	display: inline;
}
/******* END - Create Variation *******/

.bootstrap-switch{
	border-radius: 10px !important;
}

.bootstrap-switch-handle-on.bootstrap-switch-primary{
	background-color: #18bc9c !important;
}